<nav>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a
                class="nav-link"
                href="#!/categories"
                ng-click="$ctrl.selectNavItem($event)"
                >Categories</a
            >
        </li>
        <li class="nav-item">
            <a
                class="nav-link"
                href="#!/collections"
                ng-click="$ctrl.selectNavItem($event)"
                >Collections</a
            >
        </li>
        <li class="nav-item">
            <a
                class="nav-link"
                href="#!/about"
                ng-click="$ctrl.selectNavItem($event)"
                >About</a
            >
        </li>
    </ul>
</nav>
