header {
	overflow: auto;
	border-bottom: 1px solid gray;
}

header > img {
	width: 70px;
	height: 70px;
	float: left;
}

header > nav {
	float: right;
	padding: 15px 0;
}

main {
	padding: 10px;
}

table > thead {
	font-size: large;
	font-weight: bold;
}

table > tbody {
	cursor: pointer;
}
