header {
    overflow: auto;
    border-bottom: 1px solid gray;
    background-color: #ddd;
}

header > img {
    height: 70px;
    float: left;
    margin-left: 10px;
}

header > nav {
    float: right;
    padding: 15px 0;
}

main {
    padding: 10px;
}

table > thead {
    font-size: large;
    font-weight: bold;
}
