<section id="cardlist-section">
	<h2>Cards of topic {{topicName}}</h2>
	<table id="cardlist-table" class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Title</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="card in cards">
				<td>{{card.title}}</td>
				<td><button type="button" class="btn btn-danger"
						ng-click="remove(card.id)">Remove</button></td>
			</tr>
		</tbody>
	</table>
	<button type="button" class="btn btn-success">Add card</button>
</section>
