<section id="collections-section">
	<h2>Collections</h2>

	<div>
		<label>Search
			<input ng-model="$ctrl.query" />
		</label>
	</div>

	<div>
		<a href="#!/collections/0/details" class="btn btn-success"
									 >Add Collection</a
								 >
	</div>

    <!-- TODO: Select-item for category. -->

    <ul>
        <li ng-repeat="coll in $ctrl.collections | filter: $ctrl.query">
            <collection-tile
                collection="coll"
                on-remove="$ctrl.removeCollection"
            ></collection-tile>
        </li>
    </ul>
</section>
