<section id="collections-section">
	<h2>Collections</h2>
	<table id="collection-table" class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Number Cards</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="coll in collections">
				<td><a href="#!/collections/{{coll.id}}/cards">{{coll.name}}</a></td>
				<td>{{coll.num_cards}}</td>
				<td><button type="button" class="btn btn-danger"
						ng-click="remove(coll.id)">Remove</button></td>
			</tr>
			<tr>
				<td><input type="text" ng-model="new_collection_name" /></td>
				<td></td>
				<td><button type="button" class="btn btn-success" ng-click="add()">Add</button></td>
			</tr>
		</tbody>
	</table>
</section>
