<section id="card-section">
	<div ng-if="card.id == 0">
		<h2>New Card</h2>
	</div>
	<div ng-if="card.id != 0">
		<h2>Card #{{card.id}}</h2>
	</div>
	<form id="card-form">
		<div class="form-group">
			<label for="card-title">Title</label>
			<input type="text" id="card-title" class="form-control" ng-model="card.title" />
		</div>

		<div class="form-group">
			<label for="card-question">Question</label>
			<textarea id="card-question" class="form-control" ng-model="card.question" />
			<!--<input type="text" id="card-question" class="form-control" ng-model="card.question" />-->
		</div>

		<div class="form-group">
			<label for="card-answer">Answer</label>
			<textarea id="card-answer" class="form-control" ng-model="card.answer" />
		</div>

		<!-- todo: Use topic select menu instead with names. -->
		<div class="form-group">
			<label for="card-topic-id">Topic-ID</label>
			<textarea id="card-topic-id" class="form-control" ng-model="card.topic_id" />
		</div>

		<button class="btn btn-primary form-control"
			ng-click="onSubmit()">Submit</button>
	</form>
</section>
