<section id="cardlist-section">
	<h2>Cards of collection {{collection_name}}</h2>
	<table id="cardlist-table" class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Title</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="card in cards">
				<td><a href="#!/collections/{{collection_id}}/cards/{{card.id}}">{{card.title}}</a></td>
				<td><button type="button" class="btn btn-danger"
						ng-click="remove(card.id)">Remove</button></td>
			</tr>
		</tbody>
	</table>
	<button type="button" class="btn btn-success"
		ng-click="onAddCardClicked()">Add card</button>
	<button type="button" class="btn btn-primary"
		ng-click="startQuiz()">Start Quiz</button>
</section>
